
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.clock > div {
    width: 50px;
}

.alertBox{
    z-index: 2;
    position:absolute;
    top:0;
    width:100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.400);
}
.alertBox > div{
    position:relative;
    top:30vh;
    margin: auto;
    width: fit-content;
    padding:45px;
    height: 20vh;
}



.RoundedClockBody{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin-top:100px;
    margin-inline: auto;
}


.RoundedClockTimers{
    height:195px;
    width:195px;
    border-radius: 50%;
    border: 4px dotted #000000;
    position:relative;
    top:2.5px;
    left:2.5px;

}

.RoundedClockHandSeconds{
    margin-inline: auto;
    height: 95px;
    width: 2px;
    background-color: rgb(219, 9, 9);
    transform-origin: bottom;
    border-radius: 50% 50% 0px 0px ;
    
}

.RoundedClockHandMinutes{
    margin-inline: auto;
    height: 55px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    transform-origin: top;
    border-radius: 0px 0px 50% 50%;    
}

body{
    min-height: 100vh;
    background-color: black;
}

button{
    width:150px;
}
.controller  button{
    width:50px;
}

input{
    width:75px;
}